ROOT_PASSWORD=1234qwer

# -----------------------------------------------------------------------------
# Time/TimeZone ---------------------------------------------------------------
# -----------------------------------------------------------------------------
TZ=UTC-8
NTP_SERVER=time.nist.gov

# -----------------------------------------------------------------------------
# Network Configuration--------------------------------------------------------
# -----------------------------------------------------------------------------
IP=192.168.1.250
NETMASK=255.255.255.0
GATEWAY=192.168.1.1
NAMESERVER=8.8.8.8

# -----------------------------------------------------------------------------
# Services --------------------------------------------------------------------
# -----------------------------------------------------------------------------
DHCP=yes
FTP=yes
HTTP=yes
RTSP=yes
RECORD=yes
TELNET=yes
CLOUD=yes
